:root { 
--indigo_300:#8394c2; 
--teal_300:#62c5a7; 
--black_900:#000000; 
--teal_800:#0d7355; 
--bluegray_100:#d9d9d9; 
--red_300:#db8080; 
--black_900_3f:#0000003f; 
--white_A700:#ffffff; 
--teal_100:#b8ded2; 
}